* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    border: 0;
    outline: 0;
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: $bgColor;
    // user-select: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: $font2;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    display: inline-block;
    color: $lightBlack;
    @include animate();
}

ol li,
ul li {
    list-style-type: none;
    margin: 0;
}

ul {
    margin-bottom: 0;
}

a {
    color: $color;
    display: inline-block;
    @include animate();
}

.color {
    color: $color;
}

a:hover,
a:focus {
    // color: $bgColor;
    text-decoration: none;
}

@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}

.section {
    padding: 95px 0px 100px;
    .heading {
        margin-bottom: 45px;
    }
}

.heading{
    margin-bottom: 50px;
    text-align: center;
    h2{
        color: $color;
        margin: 0;
    }
    p{
        color: $lightBlack;
    }
}