// Font Import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

// Fonts
$font1 : 'Ubuntu', sans-serif;
$font2 : 'Open Sans', sans-serif;


// Font size
$fsNormal : 14px;
$fsSmall : 16px;
$fsMedium : 20px;
$fsH1 : 42px;
$fsH2 : 36px;
$fsH3 : 30px;
$fsH4 : 26px;
$fsH5 : 22px; 
$fsH6 : 18px;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font1;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h4,
h5,
h6 {
    font-weight: 600;
}

a {
    font-family: $font1;
    font-weight: 400;
}

p {
    font-size: $fsNormal;
    line-height: 24px;
    margin: 0;
    font-family: $font2;
}
