
.about-section{
    padding: 100px 0;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 160%;
        top: 0;
        transform: skewY(-12deg);
        background: #f6f9fc;
    }
    .about-heading{
        text-align: right;
        // padding: px 0;
        padding-right: 15px;
        margin-bottom: 25px;
        color: $color;
        border-right: 5px solid lighten($lightBlack, 60%);
        h2{
            margin: 0;
        }
    }
    .my-photo{
        border-radius: 20px;
        max-width: 400px;
        overflow: hidden;
        box-shadow: 10px 15px 30px 1px #ddd;
        min-height: 500px;
        img {
            height: auto;
            width: auto;
            min-height: 500px;
            min-width: 100%;
            object-fit: cover;
        }
    }
    .heading {
        text-align: right;
        padding-right: 15px;
        color: #626264;
        margin-bottom: 50px;
        display: inline-block;
        // border-bottom: 5px solid lighten($lightBlack, 60%);
        color: $color;
        h2{
            margin: 0;
        }
    }
    .about-me{
        .about-data {
            p{
                margin-bottom: 10px;
            }
        }
        .tabs{
            border-bottom: 1px solid #eee;
            li{
                a{
                    padding: 8px 25px;
                    color: $lightBlack;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        background-color: $color;
                        bottom: 0;
                        left: 0;
                        z-index:5;
                        @include animate();
                    }
                    &:hover{                    
                        color: $color;
                        &::after{
                            width: 100%;
                        }
                    }
                    &.active{
                        color: $color;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        // nav{
        //     .nav-tabs .nav-link {
        //         border: none;
        //         border-top-left-radius: .25rem;
        //         border-top-right-radius: .25rem;
        //         padding: 15px 20px;
        //         color: $lightBlack; border-color: transparent;
        //         position: relative;
        //         &::after{
        //             content: '';
        //             position: absolute;
        //             width: 0%;
        //             height: 2px;
        //             background-color: $color;
        //             bottom: 0;
        //             left: 0;
        //             z-index:5;
        //             @include animate();
        //         }
        //         &:hover{                    
        //             color: $color;
        //             // border-bottom: 2px solid $color;
        //             &::after{
        //                 width: 100%;
        //             }
        //         }
        //         &.active{
        //             color: $color;
        //             // border-bottom: 2px solid $color;
        //             background-color: transparent;
        //             &::after{
        //                 width: 100%;
        //             }
        //         }
        //     }
        // }        
        div.tab-pane {
            padding-top: 25px;
        }
        .skill-box{
            margin-bottom: 25px;
            h6{
                color: $lightBlack;
                font-weight: 700;
            }
            div{
                margin-left: -5px;
                span{
                    display: inline-block;
                    background-color: lighten($color, 45%);
                    color: lighten($color, 20%);
                    padding: 3px 10px;
                    border-radius: 2px;
                    margin: 5px;
                    white-space: pre;
                    cursor: default;
                    &:hover{
                        color: $color;
                    }
                }
            }
        }
    }
    .tabs-content{
        margin-top: 20px;
    }
}

.about-section.active {
    overflow: hidden;
}


// Responsive 
@media(max-width: 991px){
    .my-photo {
        margin: 0 auto 50px;
    }
    .about-section .about-heading {
        text-align: center;
        margin-right: 0;
        border: 0;
    }
    
    .about-section .about-me nav .nav-tabs .nav-link {
        margin: 0 auto;
    }
}
@media( min-width:768px ) and (max-width: 991px){
    
}

@media(max-width:767px){

}

@media(max-width: 575px){
    
}