/* header section */
header.active {
    background-color: $color;
    .menu-part{
        li {
            a {
                color: $white;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: $white;
                    bottom: 0;
                    left: 0;
                    z-index:5;
                    @include animate();
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
                &.nuxt-link-active.nuxt-link-exact-active{
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
        .right {
            li {
                a {
                    &.hire-me {
                        border: 1px solid #fff;
                        &::after {
                            display: none;
                        }
                        &:hover{
                            background-color: $white;
                            color: $color;
                            
                        }
                    }
                }
            }
        } 

    }
}


header.active{
    &+ .about-section:before{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 130%;
        top: 0;
        -webkit-transform: skewY(-12deg);
        transform: skewY(-12deg);
        background: #f6f9fc;
    }
    .menu-part{
        padding: 15px 0;
        .logo{
            max-width: 40px;
            margin-right: 10px;
        }
        li{
            display: inline-block;
            a{
                padding: 20px 10px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                
                &.hire-me {
                    border: 1px solid $color;
                    padding: 5px 10px;
                    border-radius: 3px;
                    margin-left: 10px;
                    &:hover{
                        background-color: $color;
                        color: $white;
                    }
                }
            }
            .focus-btn {
                a {
                    background-color: white;
                    padding: 3px 5px;
                    border-radius: 10px;
                }
            }
        }
        li.nav-toggle {
            display: none;
        }
        .right {
            li {
                a {
                    font-weight: 600;
                    &.hire-me {
                        // font-weight: 600;
                    }
                }
            }
        }
        .menu-toggle {
            display: none;
        }
    }
}

.modal {
    background-color: rgba(0,0,0,0.5);
    .modal-body {
        overflow-y: scroll;
        max-height: calc(100vh - 199px);
    }
}

// Responsive
@media(max-width: 991px){
    header.active{
        .menu-part {
            flex-wrap: wrap;
            .logo {
                order: 1;
            }
            .right {
                order: 2;
            }
            ul.mobile-nav {
                order: 4;
                width: 100%;
                background-color: white;
                padding: 10px 0;
                display: none;
                &.active {
                    display: block;
                }
                li{
                    display: block;
                    a {
                        width: 100%;
                        margin: 0;
                        padding: 10px 20px;
                    } 
                }
            } 
            .menu-toggle {
                display: flex;
                order: 3;
                padding: 10px 15px;
                background-color: white;
                margin-left: 10px;
                border-radius: 3px;
            }
        }
    }
}


@media( min-width:768px ) and (max-width: 991px){
    .banner-section header.active .menu-part .logo {
        max-width: 40px;
        margin-right: 10px;
    }
    
    .banner-section header.active .menu-part li a {
        padding: 20px 5px;
        &.hire-me {
            padding: 5px 10px;
        }
    }

    header.active .menu-part li a {
        padding: 20px 4px;
    }
    
    header.active .menu-part li a.hire-me {
        margin-left: 0;
    }
 
}

@media(max-width:767px){
    .menu-part{
        flex-wrap: wrap;
        .logo {
            order: 1;
        }
        .mobile-nav{
            order: 3;
            display: block;
            background-color: $color;
            width: 100%;
            padding: 20px 0;
            li {
                display: block;
                a {
                    color: $white;
                    padding: 10px 30px;
                }
            }
        }
        .right  {
            order: 2;
        }
    }
    
    header.active .menu-part li a.hire-me{
        display: none;
    }

    header.active .menu-part ul.mobile-nav {
        display: none;
        text-align: center;
        &.active {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 11;
            background-color: #245cd1;
            padding-top: 0;
            li{
                a {
                    width: auto;
                    // color: $color;
                    &.active {
                        &::after {
                            width: 100%;
                            background-color: $white;
                        }
                    }
                }
            } 
        }
    }

    .banner-section {
        header.active .menu-part ul.mobile-nav {
            &.active {
                background-color: $white;
                margin-top: 0;
                padding-top: 10px;
                li {
                    a {
                        &.active {
                            &::after {
                                width: 100%;
                                background-color: $color;
                            }
                        }
                    }
                } 
            }
        }
    }

    header.active .menu-part li.nav-toggle {
        display: inline-block !important;
        height: 45px;
        width: 50px;
        border: 1px solid #fff;
        color: #fff;
        line-height: 45px;
        text-align: center;
        border-radius: 1px;
        background-color: transparent;
        border-radius: 3px;
        cursor: pointer;
        i {
            font-size: 16px;
        }
        &.active {
            background-color: white;
            color: #245cd1;
        }
    }
}

@media(max-width: 575px){
    
}