// Product Section
.products {
    background-color: $white;
}

// Responsive 
@media(max-width: 991px){
    
}
@media( min-width:768px ) and (max-width: 991px){
    
}

@media(max-width:767px){

}

@media(max-width: 575px){
    
}
